body{
	background-image: url("image.jpg");
}

header{

    
    width: 100%;
    margin:15px;
    height: 60px;
    
    
}
section{
display: flex;
flex-direction: row;
}

ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;

	

}

.b{

	margin-top: 20px;
	color: black;
    
}

ul li{
	
	display: inline;
	padding: 20px;
	font-size: 30px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	right: 0;
 

}

ul li:hover{
	font-size: 55px;
	font-color:lightblue;
}

ul li a{
	color: black;
	text-decoration: none;
    
}

h1{

	color: black;
	font-size: 40px;
	text-align: center;
	margin-left:40%;
	margin-top: 60px;
	font-family: "Comic Sans MS", cursive, sans-serif; 
}

img{

		border-radius: 20px;
        height: 400px;
        width: 400px;
	}



.ima{

		margin-top: 100px;
	}

	p{
		color: black;
		font-size: 20px;
        font-family: "Comic Sans MS", cursive, sans-serif;
   		
	}
	.txt{
		margin: 4%;
		margin-left: 30%;
	}
	.hi{
		margin: 7%;
	}

	
.ii{

	height: 100px;
	width: 150px;
	border-radius: 300px;
	
}

.info{padding-top:350px;
	font-size: 20px;
	color: black;

}

.so{
	display: inline;
	height: 40px;
	width: 40px;
}


.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: black;
    color: black;
    text-align: center;
    display: block;
    position: absolute;

}
.top{
	display: flex;
	flex-direction: row;
	border:2px solid black;
}
.logo img{
	width: 60px;
	height: 60px;
	margin-left:10%;
}

footer{

	position: absolute;
	bottom: 0;
}
.map{
	/*--it gives the margin to the contact map*/
	display: flex;
	flex-direction: row;
	
	margin-right: 100px;
	margin-top:100px;

}

.contact{
	margin-left:2%;
	color: black;
	margin-top: 100px;
}
